﻿<#@ template debug="True" language="C#" hostspecific="True" #>
<#@ output extension="generated.cs"#>
<#@ assembly name="System.Linq" #>
<#@ assembly name="System.Xml" #>
<#@ assembly name="System.Xml.Linq" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Xml.XPath" #>
<#@ import namespace="System.Xml.Linq" #>
<#  bool doMultiFile=true;
	bool AlwaysKeepTemplateDirty = true;
     DTE Dte; #>
<#@ include file="CodeFirstContextGenerated.ttinclude" #>
<# 
	var targetNamespace= System.Runtime.Remoting.Messaging.CallContext.LogicalGetData("NamespaceHint");
	var targetClassName="CodeFirstContextGenerated";
    var project=GetProjectContainingT4File(Dte,AlwaysKeepTemplateDirty);
	var targetClasses=RecurseProjectItems(project).Where(pi=>pi.Name.EndsWith(".cs",StringComparison.CurrentCultureIgnoreCase) 
		&& pi.Name.EndsWith(".designer.cs",StringComparison.CurrentCultureIgnoreCase)==false
		&& pi.Name.EndsWith("context.cs",StringComparison.CurrentCultureIgnoreCase)==false
	)
	.Where(i=>i.FileCodeModel!=null && i.FileCodeModel.CodeElements!=null)
	.SelectMany(i=>i.FileCodeModel.CodeElements.Cast<CodeElement>()
		.OfType<CodeNamespace>()
		.Where(cc=>cc.Name.StartsWith(targetNamespace.ToString())
		)
	.SelectMany(cn=>cn.Children.Cast<CodeElement>().OfType<CodeClass>()
		.Where(cc=>cc.Name!=targetClassName)
		));
#>
using System;
using System.Data.Entity;
using System.Data.Entity.Infrastructure;
using System.Linq;
using QueryInterception;

namespace <#=targetNamespace#>
{
	public partial class <#=targetClassName#> : DbContext
		<# foreach(var tc in targetClasses) {
#>		,IRepository<<#=tc.Name#>> 
<#}#>
	{
		public <#=targetClassName#>():base(){}
		public <#=targetClassName#>(string nameOrConnectionString):base(nameOrConnectionString){}
<# 
var keys=new HashSet<string>();
foreach(var item in targetClasses){
#>
		//<#=item.Name#> - <#= item.Name#>
		protected DbSet<<#=item.Name#>> <#=item.Name#> {get;set;}
		protected Func<IQueryable<<#=item.Name#>>,IQueryable<<#=item.Name#>>> <#=item.Name#>SelectHook {get;set;} 
		IQueryable<<#=item.Name#>> IRepository<<#=item.Name#>>.Query()
        {
            IQueryable<<#=item.Name#>> q = from i in ((IObjectContextAdapter)this).ObjectContext.CreateObjectSet<<#=item.Name#>>() select i;
			if(<#=item.Name#>SelectHook!=null) q=<#=item.Name#>SelectHook(q);
            return InterceptingProvider.Intercept(q, new ExpressionWriter(new DebugTextWriter()));
        }
<#
}#>
	}
}