﻿@model Mvc4.Models.ShowModel

@{
    string change = ViewBag.Change;
    ViewBag.Title = change;
}

<h2>@change</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Show</legend>

        @Html.HiddenFor(model => model.ShowID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ShowName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowName)
            @Html.ValidationMessageFor(model => model.ShowName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Imdb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Imdb)
            @Html.ValidationMessageFor(model => model.Imdb)
        </div>

        <p>
            <input type="submit" value="@change" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Links.Scripts.MinimalPost_js)
}
