﻿@using System.Globalization
@using HealthMonitor.Extensions
@using HealthMonitor.Models
@using Newtonsoft.Json
@model Nullable<int>
@{
    
    var selections = (IEnumerable<Nvironment>) ViewData["Environments"];
    var serializer = new Serialization();
    var list = selections.Select(x => new SelectListItem {Text = x.Name, Value =x.NvironmentID.ToString()});
}
<div class="editor-nvironment">@Html.DropDownListFor(x=>x,list,string.Empty)</div>
