﻿@model HealthMonitor.Models.Nvironment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Environment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sites)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sites)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NvironmentID}) |
    @Html.ActionLink("Back to List", "Index")
</p>
